@charset "utf-8";
@use "variable" as *;
@use "mixin" as *;

/* input - checkbox */
.mzCheckBoxCheck {
  position: relative;
  min-height: 22px;

  .input {
    position: absolute;
    width: 0;
    height: 0;
    line-height: 0;
    opacity: 0;
  }

  .input + label {
    position: relative;
    // display: block;
    padding-left: 30px;
    padding-top: 2px;

    &:before {
      content: "";
      // display: block;
      width: 20px;
      height: 20px;
      position: absolute;
      left: 0;
      // top: 0;
      box-sizing: border-box;
    }
  }

  .input:checked + label {
    &:before {
      background-position: -42px 0;
    }
  }

  .input:disabled + label {
    &:before {
      background-position: -42px 0;
      background-position: -120px -115px;
    }
  }

  &.product {
    align-items: flex-start;

    .brand {
      font-size: 11px;
      font-weight: bold;
      line-height: 13px;
    }

    .name {
      margin-top: 2px;
      font-size: 14px;
      color: $colorGray6;

      a {
        font-size: 14px;
        color: $colorGray6;
        @include mixinEllipsis(1);
      }
    }
  }

  &.shape {
    &Round {
      min-height: 20px;

      .input[type="radio"] + label {
        padding-top: 1px;

        &:before {
          // width: 24px;
          // height: 24px;
          background: url(/icons/icon_20_none_check.svg) 0 0 no-repeat;
          // background-size: 24px 24px;
          border: 0;
        }

        &:after {
          display: none;
        }
      }

      .input[type="radio"]:checked + label {
        &:before {
          background: url(/icons/icon_20_checked.svg) 0 0 no-repeat;
          // background-size: 24px 24px;
        }
      }

      input[type="checkbox"] + label {
        padding-top: 1px;

        &:before {
          // width: 24px;
          // height: 24px;
          background: url(/icons/icon_20_none_check.svg) 0 0 no-repeat;
          // background-size: 24px 24px;
          border: 0;
        }

        &:after {
          display: none;
        }
      }

      .input[type="checkbox"]:checked + label {
        &:before {
          background: url(/icons/icon_20_checked.svg) 0 0 no-repeat;
          // background-size: 24px 24px;
        }
      }
    }
  }
}

/* input - radio */
.mzCheckBoxRadio {
  position: relative;
  min-height: 22px;

  .input {
    position: absolute;
    width: 0;
    height: 0;
    line-height: 0;
    opacity: 0;
  }

  .input + label {
    position: relative;
    display: block;
    padding-left: 30px;
    padding-top: 2px;
    font-size: 13px;

    &:before {
      content: "";
      display: block;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      position: absolute;
      top: 0;
      left: 0;
      box-sizing: border-box;
    }
  }

  .input:checked + label {
    &:before {
      background-position: -25px -170px;
    }
  }

  .input:disabled + label {
    color: colorGray8;

    &:before {
      background-position: -147px -115px;
    }
  }

  &.fill {
    &Red {
      .input:checked + label {
        &:before {
          border-color: $colorRed;
          background: $colorRed;
        }
      }
    }
  }
}

.label {
  display: flex;
  align-items: center;
  gap: var(--space-1);
}
