@charset "utf-8";
@use '@/styles/_variable.scss' as *;
@use '@/styles/_mixin.scss' as *;

.addressContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;

  > span {
    display: block;
  }

  .code {
    display: flex;
    gap: 4px;

    input[type='text'] {
      width: 80px;
    }
  }

  .address {
    display: flex;
    flex-direction: column;
    gap: 10px;

    input[type='text'] {
      width: 300px;
    }
  }
}
