@charset "utf-8";
@use '@/styles/_variable.scss' as *;
@use '@/styles/_mixin.scss' as *;

.phoneNumberWrapper {
  display: flex;
  align-items: center;
  gap: 4px;

  .separated {
    width: 80px;
  }

  .combined {
    width: 150px;
  }
}
