.footer {
  background-color: #000;
  color: #fff;

  &__inner {
    padding: 40px;
  }

  &__top {
    display: flex;
    border-bottom: 1px solid #fff;
    margin: 40px auto;
    padding: 0 40px;
    max-width: 1270px;

    &-left {
      width: 30%;
    }

    &-center {
      width: 40%;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      justify-content: center;
      gap: 10px;
    }

    &-right {
      width: 30%;
    }
  }

  &__bottom {
    display: flex;
    align-items: center;
    margin: 40px auto;
    padding: 0 40px;
    max-width: 1270px;

    &-left {
      width: 30%;
    }

    &-center {
      width: 40%;
    }

    &-right {
      width: 30%;
    }
  }

  &__title {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  &__desc {
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
  }

  &__family-list {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 20px;
  }

  &__family-item {
    display: flex;
    gap: 20px;
    flex-direction: column;
    align-items: center;
  }

  &__family-title {
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
  }

  &__family-link {
    color: #fff;
    display: flex;
    align-items: center;
  }

  &__family-link img {
    width: 20px;
    height: 20px;
    margin-right: 10px;
  }
}
