.adminDefaultLayout {
  min-width: 1000px;
  min-height: 100vh;
}

.mzBox {
  border: 1px solid $colorGray8;
  border-radius: 2px;
  border: 1px solid var(--Grayscale-9, #e1e6ec);
  background: var(--Main-color-White, #fff);

  /* Shadow/Shadow normal */
  box-shadow: 0px 2px 6px 0px rgba(22, 37, 66, 0.08);

  .mzGridWrap {
    border: 0;
  }

  > .layoutTitle {
    padding: 20px;
    border-bottom: 1px solid $colorGray8;
  }
}

.entryButton {
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: 10px;

  > button {
    min-width: 80px;
    padding-left: 15px;
    padding-right: 15px;
  }
}

.mzGridLayout02 {
  display: flex;
  align-items: stretch;
  gap: 20px;

  .mzLeft {
    width: 200px;
    position: relative;
  }

  .mzRight {
    flex: 1;
  }
}

.mzGridLayout01 {
  margin-bottom: 30px;
}
