.icon {
  &__info {
    background-image: url("//cdn.prod.website-files.com/65f40252d97e8a476f9d7ad2/65f941c5c897f0bac91d3211_btn-arrow-black.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 24px;
    height: 24px;
    margin-right: 8px;
  }
}
