@charset "utf-8";
@use 'variable' as *;
@use 'mixin' as *;

.insideParentContainer {
  height: 100%;
}

// 딤
.overlay {
  position: fixed;
  width: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1005;
  background: rgba(0, 0, 0, 0.5);

  .mcWrap {
    width: 100%;
    height: 100%;
    overflow: hidden;

    :global {
      .mobileAlert {
        background: $colorWhite;
        width: 80%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(calc(-50% + 0.5px), calc(-50% + 0.5px));

        .popupTxt {
          display: flex;
          justify-content: center;
          align-items: center;
          padding: 30px 0;
          font-size: 15px;
          color: $colorBlack;
          letter-spacing: -0.3px;
          line-height: 20px;
          text-align: center;
          border-bottom: 1px solid $colorGray10;
        }

        .buttonArea {
          display: flex;
          justify-content: space-between;
          align-items: center;
          height: 56px;

          button {
            width: 100%;
            height: 100%;
            font-weight: bold;
            border-left: 1px solid #d9d9d9;
            font-size: 15px;
            color: $colorBlack;
            box-sizing: border-box;

            &:first-child {
              border-left: 0;
            }
          }
        }
      }
    }
  }

  &.pcOverlay {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .pcWrap {
    background: $colorWhite;
    border: 1px solid $colorBlack;
    position: fixed;
    z-index: 99;
    outline: none;
  }
}

.overlayNone {
  background: transparent;
}

// pc
.pcContainer {
  padding: 30px 30px 40px 30px;
  background: $colorWhite;

  .modalTitle {
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 2px solid $colorBlack;
    color: $colorBlack;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: -1px;
    font-weight: normal;

    em {
      //장바구니 주문수량이 최대 구매 가능 수량 초과 시
      max-width: 300px;
      display: inline-block;
      margin-top: -6px;
      vertical-align: middle;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  .modalContent {
    overflow-y: auto;
    overflow-x: hidden; // ios 가로스크롤 현상 해결 위함
    max-height: calc(100vh - 180px);
    // 폰트 임시 가이드
    font-size: 13px;
    line-height: 17px;
    letter-spacing: -0.3px;

    :global {
      // 문구 가운데 정렬
      .center {
        text-align: center;
      }
    }

    &::-webkit-scrollbar {
      display: block;
      width: 6px;
      height: 6px;
      border-radius: 3px;
    }

    /*스크롤바 전체*/
    &::-webkit-scrollbar-thumb {
      width: 6px;
      background: rgba(0, 0, 0, 0.4);
      border-radius: 3px;
    }

    /*스크롤바 막대*/
    &::-webkit-scrollbar-track {
      border-radius: 3px;
      background-color: transparent;
    }
  }

  .btnClose {
    position: absolute;
    top: 20px;
    right: 30px;
    width: 40px;
    height: 40px;
    font-size: 0;

    &::before,
    &::after {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      width: 1px;
      height: 24px;
      background-color: $colorBlack;
      transform-origin: center;
    }

    &::before {
      transform: translate(-50%, -50%) rotate(45deg);
    }

    &::after {
      transform: translate(-50%, -50%) rotate(-45deg);
    }
  }

  &.hasClose {
    padding: 40px;

    .btnClose {
      top: 20px;
      right: 20px;
    }
  }

  :global {
    .buttonGroup {
      flex-grow: 0;
      gap: 8px;
      margin-top: 30px;

      // 버튼1 140px, 버튼2 120px, 버튼3개 100px
      button {
        flex: inherit;
        width: 140px;
        padding: 0;
      }

      &.length2 {
        button {
          width: 120px;
        }
      }

      &.length3 {
        button {
          width: 100px;
        }
      }
    }
  }
}

// mobile
.mcContainer {
  position: absolute;
  top: 50%;
  left: 20px;
  right: 20px;
  transform: translateY(-50%);
  box-sizing: border-box;
  background: $colorWhite;

  .modalTitle {
    padding: 20px 30px 20px 0;
    margin: 0 20px;
    font-family: AppleSDGothicNeo-Bold;
    font-size: 16px;
    color: $colorBlack;
    border-bottom: 1px solid $colorBlack;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: -0.3px;
  }

  .modalContent {
    padding: 15px 20px 20px 20px;
    line-height: 19px;
    letter-spacing: -0.3px;
    max-height: calc(100vh - 180px);
    overflow-y: auto;
    //-webkit-overflow-scrolling: touch;
  }

  .btnClose {
    position: absolute;
    top: 9px;
    right: 10px;
    width: 40px;
    height: 40px;
    //@include mixinImgCommon(0, 0);
    font-size: 0;
  }

  :global {
    .modalSubTxt {
      //@include mixinMobileFont(12);
      color: $colorGray5;
    }

    .modalDimTxt {
      position: absolute;
      bottom: -40px;
      left: 0;
      right: 0;

      &.center {
        text-align: center;
      }

      button {
        color: $colorWhite;
        letter-spacing: -0.9px;
      }

      .underline {
        border-bottom: 1px solid $colorWhite;
        //@include mixinMobileFont(14);
      }
    }

    .modalFlexButton {
      position: relative;
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 55px;
      border-top: 1px solid $colorGray8;
      margin: 20px -20px 0;

      &:before {
        content: '';
        position: absolute;
        left: 0;
        width: 1px;
        height: 100%;
        background-color: $colorWhite;
      }

      a,
      button {
        width: 100%;
        height: 100%;
        font-weight: bold;
        font-size: 15px;
        color: $colorBlack;
        line-height: 55px;
        text-align: center;
        border-left: 1px solid $colorGray8;

        &.fillBlack {
          background-color: $colorBlack;
          color: $colorWhite;
        }
      }
    }
  }
}

// bottom sheet
.bottomsheet {
  .mcContainer {
    top: inherit;
    left: 0;
    right: 0;
    bottom: 0;
    transform: none;
    width: 100%;

    //max-height: calc(100vh - 100px);
    //overflow-y: auto;
    .modalTitle {
      font-size: 18px;
      letter-spacing: -0.4px;
    }

    .modalContent {
      padding: 20px;
    }
  }

  :global {
    .modalFullButton {
      display: flex;
      margin: 20px -20px -20px -20px;
      padding: 10px 20px calc(env(safe-area-inset-bottom) + 10px) 20px;
      box-shadow: 0 -2px 5px 0 rgb(0 0 0 / 4%);
      background-color: #fff;
      gap: 7px;

      button {
        flex: 1 1;
      }
    }
  }
}

// bottom sheet에 플로팅 버튼 존재 시
.hasFloating {
  padding-bottom: calc(env(safe-area-inset-bottom) + 75px);

  :global {
    .modalFullButton {
      bottom: 0;
      left: 0;
      margin: 0 !important;
      position: absolute;
      width: 100%;
    }
  }
}

// 타입
.type {
  &Mix {
    [class^='LfModal_modalContent'] {
      padding-bottom: 0;
    }
  }

  &Alert {
    .mcContainer {
      width: 300px !important;
      left: 50%;
      transform: translate(calc(-50% + 0.5px), calc(-50% + 0.5px));
    }

    .modalContent {
      padding-top: 30px;
      padding-bottom: 0;
      text-align: center;
      overflow-y: hidden !important;
      //@include mixinMobileFont(15);
    }

    :global {
      .modalFlexButton {
        margin-top: 30px;
      }
    }

    .btnClose {
      display: none;
    }
  }
}
