.tooltipWrapper {
    position: relative;
    display: inline-block;
}

.tooltip {
    visibility: hidden;
    background: #222;
    color: #fff;
    text-align: center;
    border-radius: 4px;
    padding: 4px 8px;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 0.2s;
    font-size: 12px;
}

.tooltipWrapper:hover .tooltip {
    visibility: visible;
    opacity: 1;
}