.container {
  padding-top: 100px;
}

.imsi {
  height: 1660px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 24px;
  background-color: transparent;
  position: relative;
}

.imsiAccent {
  background-color: #b30000;
}