@charset 'utf-8';
// 색상, 폰트, 여백 등 사이트 전체에서 사용하는 변수 정의 
$colorDefault: #000000;
$colorSubDefault: #333333;
$colorBule1: #333333; //color 값에 없는 색상 추가됨
$colorWhite: #FFFFFF;
$colorBlack: #000000;
$colorBlueTint1: #57BBEB;
$colorBlueTint2: #76C9EF;
$colorBlueTint3: #97D5F2;
$colorBlueTint4: #BDE3F6;
$colorBlueTint5: #D0E7F6;
$colorBlueTint6: #DDF1FB;
$colorBlueTint7: #EEF8FD;

$colorGreen: #28794E;
$colorLightGreen: #F0FFF4;
$colorDarkOrange: #C84300;
$colorOrange: #E7660D;
$colorLightOrange: #FEF4E6;
$colorRed: #DA291C;
$colorLightRed: #FFF5F5;


$colorGray1: #121619;
$colorGray2: #21272A;
$colorGray3: #343A3F;
$colorGray4: #565C63;
$colorGray5: #6C747E;
$colorGray6: #808892;
$colorGray7: #B9C1C9;
$colorGray8: #D6DBE1;
$colorGray9: #E1E6EC;
$colorGray10: #EBEFF5;
$colorGray11: #F3F6FB;
$colorGray12: #F8F9FC;