@use "@/styles/_variable.scss" as *;
@use "@/styles/_mixin.scss" as *;

.faqWrap {
  list-style: none !important;
  padding: 0;
  margin: 0;
}

.faqContainer {
  padding: 0 40px;

  h4 {
    @include mixinFontSize(24);
    font-weight: 700;
    color: $colorBlack;
    margin-bottom: 20px;
  }

  .faqTotal {
    @include mixinFontSize(14);
    color: $colorGray5;
    margin-bottom: 10px;
  }
}

.faqType01 {
  li {
    border-bottom: 1px solid $colorGray8;
    padding-bottom: 10px;
    .questionWrap {
      display: flex;
      align-items: center;
      .category {
        flex: 0 0 150px;
        @include mixinFontSize(18);
        padding: 10px 0 10px 25px;
        color: $colorBlack;
      }
      .question {
        display: block;
        width: 100%;
        padding: 10px 0 10px 25px;
        position: relative;
        color: $colorBlack;
        @include mixinFontSize(18);
        text-align: left;

        &::before {
          content: "Q.";
          display: block;
          position: absolute;
          left: 0;
          top: 10px;
        }

        &::after {
          content: "";
          display: block;
          position: absolute;
          right: 0;
          top: 10px;
          width: 24px;
          height: 24px;
          background-image: url("//cdn.prod.website-files.com/65f40252d97e8a476f9d7ad2/65f941c5c897f0bac91d3211_btn-arrow-black.svg");
          transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);
          transform: rotate(90deg);
        }

        &.open::after {
          transform: rotate(270deg);
        }
      }
    }
    .answerText {
      padding: 10px 0 10px 25px;
      @include mixinFontSize(14);
      color: $colorGray6;
    }
  }
}

.faqType02 {
  li {
    border-bottom: 1px solid $colorGray8;
    padding-bottom: 10px;

    .questionWrap {
      display: flex;
      align-items: center;

      .category {
        flex: 0 0 150px;
        @include mixinFontSize(18);
        padding: 10px 0 10px 25px;
        color: $colorBlack;
      }
      .question {
        display: block;
        width: 100%;
        padding: 10px 0 10px 25px;
        position: relative;
        color: $colorBlack;
        @include mixinFontSize(18);
        text-align: left;

        &::before {
          content: "Q.";
          display: block;
          position: absolute;
          left: 0;
          top: 10px;
          color: $colorRed;
        }

        &::after {
          content: "";
          display: block;
          position: absolute;
          right: 0;
          top: 10px;
          width: 24px;
          height: 24px;
          background-image: url("//cdn.prod.website-files.com/65f40252d97e8a476f9d7ad2/65f941c5c897f0bac91d3211_btn-arrow-black.svg");
          transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);
          transform: rotate(90deg);
        }

        &.open::after {
          transform: rotate(270deg);
        }
      }
    }

    .answerText {
      padding: 15px 0 15px 25px;
      background-color: $colorGray12;
      @include mixinFontSize(14);
      color: $colorGray2;
    }
  }
}
