@use '@/styles/_variable.scss' as *;
@use '@/styles/_mixin.scss' as *;

.categoryList {
  list-style: none;
  padding: 0;
  display: flex;
  gap: 16px;
}

.link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: inherit;
}

.image {
  width: 48px;
  height: 48px;
  object-fit: cover;
  border-radius: 6px;
  margin-right: 10px;
}

.texts {
  display: flex;
  flex-direction: column;
}

.title {
  font-weight: bold;
}

.subTitle {
  color: #888;
  font-size: 0.95rem;
}
